In [16]:
from vega_datasets import data
import itertools

In [220]:
airport_df=data.airports()
airport_df.head()

,iata,name,city,state,country,latitude,longitude
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944

### Converting df to list form dict

In [237]:
airport_dict=airport_df.to_dict('dict')
print(list(airport_dict.items())[0][1][0])
print(list(airport_dict.items())[1][1][0])
print(list(airport_dict.items())[2][1][0])
print(list(airport_dict.items())[3][1][0])

00M
Thigpen
Bay Springs
MS

In [239]:
# another way to access items 
print(airport_dict['iata'][0])
print(airport_dict['name'][0])
print(airport_dict['city'][0])
print(airport_dict['state'][0])

00M
Thigpen
Bay Springs
MS

In [246]:
# another way to access items 
con=map(lambda x: airport_dict[x][0],airport_dict)
list(con)

['00M', 'Thigpen', 'Bay Springs', 'MS', 'USA', 31.95376472, -89.23450472]

### Creating dicts from lists

In [240]:
prod=['a','b','c','d','e','f']
price=[100,200,300,400,500,600]
price_dict={'prod':prod,'unit_price':price}
price_dict

{'prod': ['a', 'b', 'c', 'd', 'e', 'f'],
 'unit_price': [100, 200, 300, 400, 500, 600]}

In [241]:
print(price_dict['prod'][0])
print(price_dict['unit_price'][0])

a
100

### Converting DF to nested dict

In [242]:
air_dict_form=airport_df.set_index("iata").T.to_dict()

In [243]:
air_dict_form['MSY']

{'name': 'New Orleans International',
 'city': 'New Orleans',
 'state': 'LA',
 'country': 'USA',
 'latitude': 29.99338889,
 'longitude': -90.25802778}

In [244]:
air_dict_form['MSY']['state']

'LA'

### Lambda Expr on Dicts

In [279]:
from functools import reduce 

con=map(lambda x: air_dict_form[x]['name'] if air_dict_form[x]['city']=='Dallas' else None,air_dict_form)
pon=list(con)
[x for x in pon if x is not None]

['Downtown Heliport', 'Dallas Love', 'Redbird']

In [268]:
con=filter(lambda x: air_dict_form[x]['city']=='Dallas',air_dict_form)
pon=list(con)
list(map(lambda x: air_dict_form[x]['name'],pon))

['Downtown Heliport', 'Dallas Love', 'Redbird']

### Deleting records

In [109]:
del air_dict_form['00M'],air_dict_form['00R']

### Updating Records

In [114]:
air_dict_form['00V']['name']= 'Lake Meadow'
air_dict_form['00V']['name']

'Lake Meadow'

In [121]:
air_dict_form['CCU']={'name': 'Calcutta Internationa Airport',
 'city': 'Kolkata',
 'state': 'WB',
 'country': 'India',
 'latitude': 29,
 'longitude': 90.25802778}
air_dict_form['CCU']

{'name': 'Calcutta Internationa Airport',
 'city': 'Kolkata',
 'state': 'WB',
 'country': 'India',
 'latitude': 29,
 'longitude': 90.25802778}

### Merging Dicts

In [124]:
dict1={'a':1,'b':2,'c':3}
dict2={'d':4,'e':5,'f':6}
dict_f={**dict1,**dict2}
dict_f

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

### Sorting according to one value

In [280]:
sorted(air_dict_form,key=lambda x: air_dict_form[x]['latitude'],reverse=True)[0:5]

['BRW', 'AWI', 'ATK', 'AQT', 'SCC']

In [145]:
air_dict_form['BRW']

{'name': 'Wiley Post Will Rogers Memorial',
 'city': 'Barrow',
 'state': 'AK',
 'country': 'USA',
 'latitude': 71.2854475,
 'longitude': -156.76600190000002}

In [146]:
air_dict_form['AWI']

{'name': 'Wainwright',
 'city': 'Wainwright',
 'state': 'AK',
 'country': 'USA',
 'latitude': 70.638,
 'longitude': -159.99475}

### Checking for Keys

In [147]:
'SJC' in air_dict_form

True

### New Key values

In [256]:
air_dict_form_new=[air_dict_form[i]['latitude']/10 for i in air_dict_form]
for i in air_dict_form:
    #print(i)
    air_dict_form[i]['new_lat']=air_dict_form[i]['latitude']/10
    
air_dict_form['MSY']

{'name': 'New Orleans International',
 'city': 'New Orleans',
 'state': 'LA',
 'country': 'USA',
 'latitude': 29.99338889,
 'longitude': -90.25802778,
 'new_lat': 2.9993388889999997}

### Converting dict to df

In [168]:
import pandas as pd
air_df=pd.DataFrame(air_dict_form).T
air_df.head()

                  name              city state country latitude longitude
00V        Lake Meadow  Colorado Springs    CO     USA  38.9457   -104.57
01G       Perry-Warsaw             Perry    NY     USA  42.7413  -78.0521
01J   Hilliard Airpark          Hilliard    FL     USA   30.688  -81.9059
01M  Tishomingo County           Belmont    MS     USA  34.4917  -88.2011
02A         Gragg-Wade           Clanton    AL     USA  32.8505  -86.6115

### Filtering DF

In [272]:
con=filter(lambda x: air_dict_form[x]['city']=='Dallas',air_dict_form)
pon=list(con)
list(map(lambda x: air_dict_form[x]['name'],pon))

['Downtown Heliport', 'Dallas Love', 'Redbird']

### Deleting and Getting Item

In [183]:
air_dict_form.pop('MSY')

{'name': 'New Orleans International',
 'city': 'New Orleans',
 'state': 'LA',
 'country': 'USA',
 'latitude': 29.99338889,
 'longitude': -90.25802778}

### Deleting and Getting Last Item

In [187]:
air_dict_form.popitem()

('CCU',
 {'name': 'Calcutta Internationa Airport',
  'city': 'Kolkata',
  'state': 'WB',
  'country': 'India',
  'latitude': 29,
  'longitude': 90.25802778})

In [191]:
air_dict_form['SJC'].items()

dict_items([('name', 'San Jose International'), ('city', 'San Jose'), ('state', 'CA'), ('country', 'USA'), ('latitude', 37.36186194), ('longitude', -121.92900890000001)])

### JSON

In [285]:
import json
json_file=open("Sample-JSON-file-with-multiple-records-download.json",'r',encoding='utf-8')
json_dict=json.load(json_file)
json_file.close()

In [288]:
json_dict=json_dict['users']

In [289]:
json_dict

[{'userId': 1,
  'firstName': 'Krish',
  'lastName': 'Lee',
  'phoneNumber': '123456',
  'emailAddress': 'krish.lee@learningcontainer.com'},
 {'userId': 2,
  'firstName': 'racks',
  'lastName': 'jacson',
  'phoneNumber': '123456',
  'emailAddress': 'racks.jacson@learningcontainer.com'},
 {'userId': 3,
  'firstName': 'denial',
  'lastName': 'roast',
  'phoneNumber': '33333333',
  'emailAddress': 'denial.roast@learningcontainer.com'},
 {'userId': 4,
  'firstName': 'devid',
  'lastName': 'neo',
  'phoneNumber': '222222222',
  'emailAddress': 'devid.neo@learningcontainer.com'},
 {'userId': 5,
  'firstName': 'jone',
  'lastName': 'mac',
  'phoneNumber': '111111111',
  'emailAddress': 'jone.mac@learningcontainer.com'}]

In [290]:
air_json_form=json.dumps(air_dict_form)

In [293]:
file2=open('airport.txt','w',encoding='utf-8')
json.dump(air_json_form,file2, ensure_ascii=False)
file2.close()

In [296]:
con=filter(lambda x: x['firstName']=='Krish',json_dict)
list(con)

[{'userId': 1,
  'firstName': 'Krish',
  'lastName': 'Lee',
  'phoneNumber': '123456',
  'emailAddress': 'krish.lee@learningcontainer.com'}]