In [1]:
mutiply= lambda x,y :x*y
power= lambda x,y : x**y

In [2]:
mutiply(2,3)

6

In [3]:
power(2,3)

8

In [4]:
list1=[i for i in range(11) if i%2==0]
list1

[0, 2, 4, 6, 8, 10]

In [5]:
list_double=map(lambda x: x*2, list1)
list_double

In [6]:
list(list_double)

[0, 4, 8, 12, 16, 20]

In [7]:
string_l=['My','Name','is','Ranvir']
cap_l=map(lambda x: str.upper(x),string_l)
list(cap_l)

['MY', 'NAME', 'IS', 'RANVIR']

In [14]:
import random
rand_num=[random.randrange(1,30) for i in range(11)]
rand_num

[2, 11, 16, 15, 15, 17, 22, 6, 20, 12, 27]

In [15]:
sorted(rand_num)

[2, 6, 11, 12, 15, 15, 16, 17, 20, 22, 27]

In [16]:
sorted(rand_num, reverse=True)

[27, 22, 20, 17, 16, 15, 15, 12, 11, 6, 2]

In [18]:
rand_num

[2, 11, 16, 15, 15, 17, 22, 6, 20, 12, 27]

In [19]:
rand_num.sort()
rand_num

[2, 6, 11, 12, 15, 15, 16, 17, 20, 22, 27]

In [20]:
rand_num.sort(reverse=True)
rand_num

[27, 22, 20, 17, 16, 15, 15, 12, 11, 6, 2]

In [22]:
#list will be sorted by lambda values
rand_num.sort(key= lambda x:x*3)
rand_num

[2, 6, 11, 12, 15, 15, 16, 17, 20, 22, 27]

In [28]:
rand_num1=[random.randrange(1,30) for i in range(5)]
rand_num2=[random.randrange(31,60) for i in range(5)]
lam_rand=[(i,j) for i in rand_num1 for j in rand_num2]
lam_rand.sort(key=lambda x:x[1])
lam_rand

[(9, 32),
 (13, 32),
 (25, 32),
 (20, 32),
 (1, 32),
 (9, 35),
 (13, 35),
 (25, 35),
 (20, 35),
 (1, 35),
 (9, 43),
 (13, 43),
 (25, 43),
 (20, 43),
 (1, 43),
 (9, 56),
 (13, 56),
 (25, 56),
 (20, 56),
 (1, 56),
 (9, 59),
 (13, 59),
 (25, 59),
 (20, 59),
 (1, 59)]

In [30]:
filter_rand=filter(lambda x:x>45,rand_num2)
list(filter_rand)

[59, 56]

In [33]:
from functools import reduce 
sum_up=reduce(lambda x,y: x+y, rand_num1)
sum_up

68

In [35]:
max_up=reduce(lambda x,y:max(x,y), rand_num1)
max_up

25

In [37]:
max_up=reduce(lambda x,y: x if x>y else y,rand_num1 )
max_up

25