## Anonymous Functions

In [1]:
mutiply= lambda x,y :x*y
power= lambda x,y : x**y

In [2]:
mutiply(2,3)

6

In [3]:
power(2,3)

8

In [4]:
list1=[i for i in range(11) if i%2==0]
list1

[0, 2, 4, 6, 8, 10]

## Map Function

In [5]:
list_double=map(lambda x: x*2, list1)
list_double

In [6]:
list(list_double)

[0, 4, 8, 12, 16, 20]

In [7]:
string_l=['My','Name','is','Ranvir']
cap_l=map(lambda x: str.upper(x),string_l)
list(cap_l)

['MY', 'NAME', 'IS', 'RANVIR']

In [38]:
string_s='My Name is Ranvir'
cap_s=map(lambda x: str.upper(x),string_s)
list(cap_s)

['M',
 'Y',
 ' ',
 'N',
 'A',
 'M',
 'E',
 ' ',
 'I',
 'S',
 ' ',
 'R',
 'A',
 'N',
 'V',
 'I',
 'R']

## Sorting

In [14]:
import random
rand_num=[random.randrange(1,30) for i in range(11)]
rand_num

[2, 11, 16, 15, 15, 17, 22, 6, 20, 12, 27]

In [15]:
sorted(rand_num)

[2, 6, 11, 12, 15, 15, 16, 17, 20, 22, 27]

In [16]:
sorted(rand_num, reverse=True)

[27, 22, 20, 17, 16, 15, 15, 12, 11, 6, 2]

In [18]:
rand_num

[2, 11, 16, 15, 15, 17, 22, 6, 20, 12, 27]

In [19]:
rand_num.sort()
rand_num

[2, 6, 11, 12, 15, 15, 16, 17, 20, 22, 27]

In [20]:
rand_num.sort(reverse=True)
rand_num

[27, 22, 20, 17, 16, 15, 15, 12, 11, 6, 2]

In [22]:
#list will be sorted by lambda values
rand_num.sort(key= lambda x:x*3)
rand_num

[2, 6, 11, 12, 15, 15, 16, 17, 20, 22, 27]

In [69]:
names=['Dhruv Dogra','Riya Debnath','Ranvir Singh','Akash Banerjee','Subhadwip Basu','Pragnesh Patel','Naren Sundar','Varnith Chrodia']
names.sort(key=lambda x: x.split()[-1].lower())
names

['Akash Banerjee',
 'Subhadwip Basu',
 'Varnith Chrodia',
 'Riya Debnath',
 'Dhruv Dogra',
 'Pragnesh Patel',
 'Ranvir Singh',
 'Naren Sundar']

In [68]:
names[0].split()[-1]

'Dogra'

## Filter Function

In [28]:
rand_num1=[random.randrange(1,30) for i in range(5)]
rand_num2=[random.randrange(31,60) for i in range(5)]
lam_rand=[(i,j) for i in rand_num1 for j in rand_num2]
lam_rand.sort(key=lambda x:x[1])
lam_rand

[(9, 32),
 (13, 32),
 (25, 32),
 (20, 32),
 (1, 32),
 (9, 35),
 (13, 35),
 (25, 35),
 (20, 35),
 (1, 35),
 (9, 43),
 (13, 43),
 (25, 43),
 (20, 43),
 (1, 43),
 (9, 56),
 (13, 56),
 (25, 56),
 (20, 56),
 (1, 56),
 (9, 59),
 (13, 59),
 (25, 59),
 (20, 59),
 (1, 59)]

In [30]:
filter_rand=filter(lambda x:x>45,rand_num2)
list(filter_rand)

[59, 56]

## Reduce Function

In [33]:
from functools import reduce 
sum_up=reduce(lambda x,y: x+y, rand_num1)
sum_up

68

In [35]:
max_up=reduce(lambda x,y:max(x,y), rand_num1)
max_up

25

In [37]:
max_up=reduce(lambda x,y: x if x>y else y,rand_num1 )
max_up

25

## Nested List

In [42]:
scores=[[1,32,80],[2,36,75],[3,28,82],[4,33,75],[5,37,60]]
abv_avg=35
new_scores=map(lambda x: x[2]+2 if x[1]>abv_avg else x[2]-2, scores)
list(new_scores)

[78, 77, 80, 73, 62]

## Mutiple Lists

In [43]:
# adding 2 lists element wise
rand_num1=[random.randrange(1,30) for i in range(5)]
rand_num2=[random.randrange(31,60) for i in range(5)]
rand_add=map(lambda x,y: x+y,rand_num1,rand_num2)
list(rand_add)

[58, 66, 54, 59, 85]

## Dictionary

In [59]:
sales=[{'country':"India",'sales':200},{'country':"Australia",'sales':210},{'country':"China",'sales':150},{'country':"US",'sales':300},{'country':"Canda",'sales':260}]
country=map(lambda x:x['country'],sales)
sale=map(lambda x:x['sales'],sales)
print(list(country),list(sale))

['India', 'Australia', 'China', 'US', 'Canda'] [200, 210, 150, 300, 260]

In [60]:
high_sales=filter(lambda x:x['sales']>200,sales)
list(high_sales)

[{'country': 'Australia', 'sales': 210},
 {'country': 'US', 'sales': 300},
 {'country': 'Canda', 'sales': 260}]

## Examples

In [63]:
full_name=lambda fn,ln: fn.strip().title()+' '+ln.strip().title()
full_name(' ranvir', 'sIngh ')

'Ranvir Singh'