### List Creation from Range

In [2]:
list1=[i for i in range(11)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list2=[i*2 for i in range(11)]
list2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### List from another list

In [5]:
list3=[i+2 for i in list2]
list3

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

### Conditions in list

In [12]:
list4= [i for i in list3 if i>10]
list4

[12, 14, 16, 18, 20, 22]

In [19]:
listn= [i for i in list3 if i>10 and i%2==0]
listn

[12, 14, 16, 18, 20, 22]

In [9]:
#bool list
list5= [i>10 for i in list3]
list5

[False, False, False, False, False, True, True, True, True, True, True]

In [11]:
list6= [i+50 for i in list3 if i>10]
list6

[62, 64, 66, 68, 70, 72]

In [14]:
#if-else  in list
list7= [i+50 if i>10 else i-20 for i in list3]
list7

[-18, -16, -14, -12, -10, 62, 64, 66, 68, 70, 72]

In [20]:
# condition for element present in another list
list8=[i for i in range(100) if i in list7]
list8

[62, 64, 66, 68, 70, 72]

### Nested loops in list

In [15]:
list9=[(i,j) for i in list4 for j in list6]
list9

[(12, 62),
 (12, 64),
 (12, 66),
 (12, 68),
 (12, 70),
 (12, 72),
 (14, 62),
 (14, 64),
 (14, 66),
 (14, 68),
 (14, 70),
 (14, 72),
 (16, 62),
 (16, 64),
 (16, 66),
 (16, 68),
 (16, 70),
 (16, 72),
 (18, 62),
 (18, 64),
 (18, 66),
 (18, 68),
 (18, 70),
 (18, 72),
 (20, 62),
 (20, 64),
 (20, 66),
 (20, 68),
 (20, 70),
 (20, 72),
 (22, 62),
 (22, 64),
 (22, 66),
 (22, 68),
 (22, 70),
 (22, 72)]