In [1]:
import pandas as pd
import plotly
#import chart_studio.plotly as py
import math
import matplotlib.pyplot as plt
import seaborn as sns
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from IPython.core.display import display, HTML
%matplotlib inline
import numpy as np
import plotly.graph_objs as go
import plotly.express as px
plotly.offline.init_notebook_mode(connected=True)

### Importing Data

In [2]:
can_df=pd.read_excel('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/Canada.xlsx',
                       sheet_name='Canada by Citizenship',
                       skiprows=range(20),
                       skipfooter=2)

### Renaming and Dropping Columns

In [3]:
# inplace=True helps avoiding assignment statment
# axis=0:rows:move down, axis=1:columns:move across
#dropping columns, provide column names in a list as input
can_df.drop(['AREA','REG','DEV','Type','Coverage'], axis=1, inplace=True)
#renaming columns
can_df.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region','DevName':'Dev Name'}, inplace=True)
can_df.head()

,Country,Continent,Region,Dev Name,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,1

### Dropping Rows

In [4]:
#dropping rows, provide rown number or index value is the input
can_df.drop(4, axis=0, inplace=True)
can_df.head()

,Country,Continent,Region,Dev Name,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,Angola,Africa,Middle Africa,Developing regions,1,3,6,6,4,3,...,268,295,184,106,76,62,61,39,70,45

### Setting an index

In [5]:
#setting one of the columns as index
can_df.set_index('Country', inplace=True)
can_df.index.name='Country'
can_df.head()

,Continent,Region,Dev Name,1980,1981,1982,1983,1984,1985,1986,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,1450,1223,856,702,560,716,561,539,620,603
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
Angola,Africa,Middle Africa,Developing regions,1,3,6,6,4,3,5,...,268,295,184,106,76,62,61,39,70,45

### Resetting indexes to integers

In [6]:
# removing the columns as index, to go back to numerical indexes
can_df.reset_index(inplace=True)
can_df.head()

,Country,Continent,Region,Dev Name,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Angola,Africa,Middle Africa,Developing regions,1,3,6,6,4,3,...,268,295,184,106,76,62,61,39,70,45

### Formatting Column Names

In [7]:
#converting all columns to strings
can_df.columns=can_df.columns.astype(str)
#changing column names to replace space with underscores
can_df.columns = can_df.columns.str.replace(' ', '_')
can_df.head()

,Country,Continent,Region,Dev_Name,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Angola,Africa,Middle Africa,Developing regions,1,3,6,6,4,3,...,268,295,184,106,76,62,61,39,70,45

In [8]:
len(can_df)

194

In [9]:
can_df.shape

(194, 38)

### Selecting one Column

In [10]:
can_df['Continent']

0         Asia
1       Europe
2       Africa
3      Oceania
4       Africa
        ...
189       Asia
190     Africa
191       Asia
192     Africa
193     Africa
Name: Continent, Length: 194, dtype: object

In [11]:
can_df['Continent'].value_counts()

Africa                             54
Asia                               49
Europe                             42
Latin America and the Caribbean    33
Oceania                            14
Northern America                    2
Name: Continent, dtype: int64

### New Variable

In [12]:
# creting new series
# summing all numerical values 
can_df['Total']=can_df.sum(axis=1)
can_df.head()

,Country,Continent,Region,Dev_Name,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1223,856,702,560,716,561,539,620,603,15699
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
4,Angola,Africa,Middle Africa,Developing regions,1,3,6,6,4,3,...,295,184,106,76,62,61,39,70,45,2113

In [13]:
can_df.describe()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
count,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,...,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000
mean,511.015464,569.912371,537.479381,389.432990,378.438144,360.711340,443.536082,694.695876,718.072165,847.587629,...,1327.097938,1273.484536,1197.958763,1252.819588,1282.309278,1427.608247,1269.041237,1320.726804,1327.505155,33036.793814
std,1954.288401,2157.825426,1871.430226,1207.125832,1201.039329,1081.792175,1228.338598,2114.074524,2449.386683,2560.936702,...,4436.386153,3935.817239,3451.382238,3703.040331,3838.434980,4473.319311,4039.484032,4257.490730,4247.849439,91992.431552
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,1.000000,1.000000,1.000000,...,29.500000,27.500000,32.500000,32.000000,37.250000,42.250000,38.250000,43.500000,45.250000,952.000000
50%,13.500000,10.000000,11.500000,12.000000,13.500000,17.000000,19.500000,29.500000,35.000000,44.500000,...,210.500000,224.000000,198.000000,205.000000,215.500000,213.500000,187.500000,234.000000,215.000000,5442.000000
75%,256.750000,295.750000,282.500000,174.500000,182.000000,197.500000,255.500000,440.000000,409.500000,515.750000,...,841.500000,844.500000,914.000000,942.250000,896.000000,932.500000,788.000000,785.000000,807.000000,22431.750000
max,22045.000000,24796.000000,20620.000000,10015.000000,10170.000000,9564.000000,9470.000000,21337.000000,27359.000000,23795.000000,...,42584.000000,33848.000000,28742.000000,30037.000000,29622.000000,38617.000000,36765.000000,34315.000000,34129.000000,691904.000000

In [14]:
can_df.describe(include=['object'])

         Country Continent        Region            Dev_Name
count        194       194           194                 194
unique       194         6            22                   2
top     Slovenia    Africa  Western Asia  Developing regions
freq           1        54            18                 147

### Sorting

In [15]:
# sorting data frame
can_df.sort_values('Total',ascending=False).head()

,Country,Continent,Region,Dev_Name,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
78,India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,...,36210,33848,28742,28261,29456,34235,27509,30933,33087,691904
35,China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,...,42584,33518,27642,30037,29622,30391,28502,33024,34129,659962
182,United Kingdom of Great Britain and Northern I...,Europe,Northern Europe,Developed regions,22045,24796,20620,10015,10170,9564,...,7258,7140,8216,8979,8876,8724,6204,6195,5827,551500
135,Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,...,18139,18400,19837,24887,28573,38617,36765,34315,29544,511391
129,Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,...,14314,13127,10124,8994,7217,6811,7468,11227,12603,241600

In [16]:
# sorting series
can_df['1980'].sort_values(ascending=False).head()

182    22045
184     9378
78      8880
135     6051
35      5123
Name: 1980, dtype: int64

In [17]:
# sorting by two columns
can_df.sort_values(['1980','2013'],ascending=False).head()

,Country,Continent,Region,Dev_Name,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
182,United Kingdom of Great Britain and Northern I...,Europe,Northern Europe,Developed regions,22045,24796,20620,10015,10170,9564,...,7258,7140,8216,8979,8876,8724,6204,6195,5827,551500
184,United States of America,Northern America,Northern America,Developed regions,9378,10030,9074,7100,6661,6543,...,8394,9613,9463,10190,8995,8142,7676,7891,8501,241122
78,India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,...,36210,33848,28742,28261,29456,34235,27509,30933,33087,691904
135,Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,...,18139,18400,19837,24887,28573,38617,36765,34315,29544,511391
35,China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,...,42584,33518,27642,30037,29622,30391,28502,33024,34129,659962

### Filtering According to conditions

In [18]:
# Filtering countries with above average immigration totals
#filtering df
can_df[can_df['Total'] >= can_df['Total'].mean()].head()

,Country,Continent,Region,Dev_Name,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
13,Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,...,4171,4014,2897,2939,2104,4721,2694,2640,3789,65568
35,China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,...,42584,33518,27642,30037,29622,30391,28502,33024,34129,659962
38,Colombia,Latin America and the Caribbean,South America,Developing regions,266,326,360,244,235,214,...,6424,6535,5357,5452,4652,5218,4366,3741,3631,72088

In [19]:
#filtering series
can_df[can_df['Total'] >= can_df['Total'].mean()]['Country'].head()

0     Afghanistan
2         Algeria
13     Bangladesh
35          China
38       Colombia
Name: Country, dtype: object

In [20]:
# filtering with mutiple conditions
can_df[(can_df['Total'] >= can_df['Total'].mean())&(can_df['Continent']=='Asia')].head()

,Country,Continent,Region,Dev_Name,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
13,Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,...,4171,4014,2897,2939,2104,4721,2694,2640,3789,65568
35,China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,...,42584,33518,27642,30037,29622,30391,28502,33024,34129,659962
78,India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,...,36210,33848,28742,28261,29456,34235,27509,30933,33087,691904
80,Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172,1429,1822,1592,1977,1648,...,5837,7480,6974,6475,6580,7477,7479,7534,11291,175923

In [21]:
# or conditions
can_df[(can_df['Total'] >= can_df['Total'].mean())|(can_df['Continent']=='Northern America')].head()

,Country,Continent,Region,Dev_Name,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
13,Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,...,4171,4014,2897,2939,2104,4721,2694,2640,3789,65568
31,Canada,Northern America,Northern America,Developed regions,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,2,20
35,China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,...,42584,33518,27642,30037,29622,30391,28502,33024,34129,659962

In [22]:
#filtering with isin method
can_df[can_df['Region'].isin(['Southern Asia','Northern Africa'])].head()

,Country,Continent,Region,Dev_Name,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
13,Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,...,4171,4014,2897,2939,2104,4721,2694,2640,3789,65568
19,Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,...,5,10,7,36,865,1464,1879,1075,487,5876
54,Egypt,Africa,Northern Africa,Developing regions,612,660,755,455,447,348,...,2496,2190,2356,3347,3496,5982,4663,5555,4165,72745

### Iterating over series

In [23]:
#iterating over series
for i in can_df['Country'].head():
    print(i)

Afghanistan
Albania
Algeria
American Samoa
Angola

### Subsetting by index values

In [24]:
#51st  and 52nd row
can_df.iloc[[50,51],:]

,Country,Continent,Region,Dev_Name,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
50,Djibouti,Africa,Eastern Africa,Developing regions,0,1,1,5,1,0,...,93,68,50,47,70,123,127,164,201,1646
51,Dominica,Latin America and the Caribbean,Caribbean,Developing regions,104,81,94,65,81,79,...,59,72,79,60,59,43,36,43,48,2470

In [25]:
#first and second column 
can_df.iloc[:,[0,1]]

            Country Continent
0       Afghanistan      Asia
1           Albania    Europe
2           Algeria    Africa
3    American Samoa   Oceania
4            Angola    Africa
..              ...       ...
189        Viet Nam      Asia
190  Western Sahara    Africa
191           Yemen      Asia
192          Zambia    Africa
193        Zimbabwe    Africa

[194 rows x 2 columns]

In [26]:
can_df.set_index('Country', inplace=True)
can_df.index.name='Country'
#using .loc to subset df
can_df.loc['Albania','Region']

'Southern Europe'

In [27]:
#subsetting mutiple rows and columns by name
can_df.loc[['Albania','India','China'],['Continent','Region']]

        Continent           Region
Country
Albania    Europe  Southern Europe
India        Asia    Southern Asia
China        Asia     Eastern Asia

In [28]:
#subsetting rows by condition in .loc
can_df.loc[can_df['Continent']=='Northern America',['Total']]

                           Total
Country
Canada                        20
United States of America  241122